input[type=text] {
    color: white;
    background-color: #292929;
    border: none;
    border-bottom: 2px solid grey;
    outline: none;
    width: 100%;
    float: left;
    font-size: 14px;
}

input[type=text]:focus {
    border-bottom: 2px solid #8f2727
}

div.chat {
    height: 91%;
    overflow-y: scroll;
    overflow-x: hidden;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    background-color: #1a1a1a;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    position: relative;
}

div.chat-message {
    background-color: #212121;
    animation: slide-up 0.4s ease;
    padding: 3px;
}

div.chat-message:hover {
    background-color: #292929;
}

p {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    display: inline;
}

p.msg-nickname {
    font-size: 16px;
    font-family: 'Paytone One', sans-serif;
    vertical-align: middle;
    overflow-wrap: break-word;
    display: inline;
}

img.user-image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    padding-right: 5px;
    display: inline;
}

::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-thumb {
    background: #ab1400;
}

 ::-webkit-scrollbar-thumb:hover {
    background: red;
}

p.typing-message {
    padding: 0%;
    color: grey;
    font-style: italic;
}

p.system {
    color: grey;
    font-style: italic;
}

p.italic {
    font-style: italic;
}

p.bold {
    font-weight: bold;
}

p.underline {
    text-decoration: underline;
}

p.strikethrough {
    text-decoration: line-through;
}

p.cursive {
    font-family: 'Lobster Two', cursive;
    font-size: 20nopx;
}

p.big {
    font-size: 35px;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.typing span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.typing span:nth-child(2) {
    animation-delay: .2s;
}

.typing span:nth-child(3) {
    animation-delay: .4s;
}

div.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
}

div.modal-content {
    position: relative;
    background-color: #1a1a1a;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #ff0000;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    align-items: center;
    text-align: center;
}

.modal-item {
    margin: auto;
    padding: 5px;
    width: 50%;
}

p,
h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

input[type=color] {
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

button.np-button {
    color: white;
    background-color: #960303;
    border: none;
    border-radius: 50px;
    display: block;
    margin: auto;
    width: 100%;
}

button.np-button:hover {
    background-color: #d80000;
}

img.avatar-preview {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

select {
    background-color: #111111;
    border: solid 2px grey;
    border-radius: 50px;
    display: block;
    margin: auto;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
    color: white;
    width: 100%;
}